<%= stylesheet_link_tag 'main_page_style', media: 'all' %>
<div class="main-content">
  <h1>Ласкаво просимо до Personal Finance Manager</h1>
  <h2>Основні переваги:</h2>
  <ul>
    <li>Зручне ведення фінансових записів</li>
    <li>Аналіз та статистика витрат</li>
    <li>Планування та керування бюджетом</li>
    <li>Нагадування про платежі та витрати</li>
    <li>Безпека та конфіденційність даних</li>
  </ul>
  <img src="https://images.app.goo.gl/i3V1NQ9oyGEtZd9P9" alt="Логотип">
</div>

<div class="development-plans">
  <h2>Плани на подальший розвиток додатку</h2>
  <ul>
    <li>Додати нові функціональні можливості, наприклад пошук по сайту або можливість обирати тип транзакції</li>
    <li>Покращити інтерфейс користувача, створити модель користувача та особистий кабінет</li>
    <li>Зробити дизайн кращим для сприйняття користувачами</li>
  </ul>
  <p>Це лише деякі з планів, які ми маємо на майбутнє. Ми постійно працюємо над вдосконаленням додатку, щоб забезпечити кращий досвід користувача.</p>
</div>
